body {
	background-image: url('../img/body.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(7, 78, 73, 0.2);
	font-family: 'Monda', sans-serif;
}

div.lang-pick {
	cursor: pointer;
	width: 100px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.65);
	padding: 5px;
	position: fixed;
	right: 20px;
	top: 15px;
}
.contant{	
	margin: 20px;
	background-color: inherit; 
  	border-radius: 3px;
}

div.left {
	background-color: rgba(47, 57, 64, 0.75);
	color: white;
  	border-radius: 3px;
  	padding-bottom: 30px;
  	max-height: 1240px;
	}


.avatar {
	width: 170px;
    margin: 40px auto auto;
}
.avatar img {
	height: 170px;
    width: 170px;
    border-radius: 150px;
	box-shadow: -1px -2px 30px -3px #d3d3d3;
	-webkit-box-shadow: -1px -2px 30px -3px #d3d3d3;
	-moz-box-shadow: -1px -2px 30px -3px #d3d3d3;

}


div.title {
    height: 30px;
    position: relative;
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 15px;
    padding-left: 25px;
    border-radius: 2px;
}

div.title:after{
	content:"";
	position: absolute;
	right: 80%;
	top: 27px;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent ;
	border-top: 10px solid rgb(255, 118, 118);		
}


#contact div.title{
	background: rgb(255, 118, 118);
}

#contact div.title:after {
	border-top: 10px solid rgb(255, 118, 118);
}

#contact .row {
	margin-top: 8px;
}

#linkedin img{
    height: 20px;
    width: 22px;
}

#skype img{
	height: 27px;
    width: 27px;
}


#contact div.col-md-10{
	margin-top: 3px ;
}

#languages div.title{
	background: rgb(173, 198, 70);
}
#languages div.title:after {
	border-top: 10px solid rgb(173, 198, 70);

}
#languages div.col-md-4{
    margin-left: 11px;
    width: 85px;
}

#skills div.title{
	background:rgb(125, 164, 183);
}

#skills div.title:after {
	border-top: 10px solid rgb(125, 164, 183);

}

div.ul-label {
	margin-left: 27px;
}
#skills div.ul-label {
	color: #7da4b7;

}

#tools div.ul-label {
	color: #f7941e;
}

div.ul {
	margin-left: 12px;
}

#tools div.title{
	background: rgb(247, 148, 30);
}

#tools div.title:after {
	border-top: 10px solid rgb(247, 148, 30);
}

.info-block {
	margin-top: 30px;
	font-size: 14px;
}

#languages .info-block {
	font-size: 15px;

}

a, a:active, a:visited {
outline: none;
text-decoration: none;
color: #2f3940;
}

.left a, .left a:active,  .left a:visited {
outline: none;
text-decoration: none;
color: #ffffff;
}


.progress {
	width: 125px;
	height: 8px;
	background-color: #8A8A8A;
	border-radius: 3px;
	margin: 22px auto 15px;
	position: relative;
	
 }

.progress-bar {
  content:"";
  width:100%;
  height: 6px;
  background-color: #fff;
  position: absolute;
  top:1px;
  border-radius:2px;
}

.central {
  	background-color: rgba(255, 255, 255, 0.72);
	min-height: 1238px;
	padding: 50px 35px;
	border-radius: 2px;
}

.central h1 {
    font-size: 45px;
}

.central p{
    font-size: 15px;
}

.about {
	text-align: justify;
}

.info {
	margin-bottom: 40px;
	margin-top: 30px; 
}

span.title {
	font-weight: bold;
}


span.title span {
	color: #ef6565;
}

footer  {
	position: relative;
	text-align: center;
	padding-bottom: 15px;
}

@media only screen and (max-width: 992px) {
	
	.contant{	
		margin: 0px 20px 15px;
	}

	div.lang-pick {
		font-size: 15px;
	    width: 33px;
	    height: 75px;
	    padding: 5px;
	    right: 1px;
	    top: 33px;
	}
	
	.lang-pick span{
		margin-bottom: 5px;
	}
	div.avatar {
		position: relative;
		top: 15px;  
	}

	div.left {
    padding-bottom: 30px;
    max-height: 1357px;
	}

	div.left .info-block, div.left ul {
		font-size: 16px;
	}
	
	.progress {
    width: 40%;
    height: 8px;
    background-color: #8A8A8A;
    border-radius: 3px;
    position: relative;
    top: -37px;
    left: 65px;
	}
	
	.central {
	    min-height: 1030px;
	}

	.central p {
		font-size: 18px;
	}

	.central ul {
		font-size: 16px;
	}

}

@media (max-width: 1150px) and (min-width: 670px){
		div.left {
		    padding-bottom: 30px;
		    height: 1367px;
	}
		.central {
	    	height: 1240px;
	}


}